<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enki Realty</title>
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Lato:300,400,700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" type="text/css" rel="stylesheet" />
    <link href="/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="/css/dropdown.css" rel="stylesheet" type="text/css" />
    <link href="/css/dimmer.css" rel="stylesheet" type="text/css" />
    <link href="/css/hamburger.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="mobileNav">
      <% if(currentUser && currentUser.confirmation === true){ %>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/listings">Listings</a></li>
        <li class="contactLink"><a href="javascript: void(0)">Contact</a></li>
        <li><a href="/user/<%= currentUser.id %>">Your account</a></li>
        <li><a href="/listings/new">New Listing</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
      <% } else { %>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/listings">Listings</a></li>
          <li class="contactLink"><a href="javascript: void(0)">Contact</a></li>
          <li><a href="/login">Login</a></li>
          <li><a href="/login">Agent Sign up</a></li>
        </ul>
      <% } %>

    </div>
    <div class="ui modal contactModal">
        <div id="contactFormContainer">
          <form action="/contact" method="POST" id="contactForm">
            <h4>Need to send us a message?</h4>
            <input type="text" name="name" placeholder="Your Name" required />
            <input type="email" name="email" placeholder="Your Email" required />
            <textarea name="message" placeholder="Your Message" maxlength="250" minlength="4" required></textarea>
            <input type="submit" value="Send" />
          </form>
        </div>
      </div>
    <nav>
      <div class="signIn_register">
        <ul>
          <% if(currentUser && currentUser.confirmation === true){ %>
          <li>
            <div class="ui compact menu">
              <div class="ui simple dropdown item">
                  User Controls
                <i class="dropdown icon"></i>
                <div class="menu">
                  <div class="item logout"><a href="/user/<%= currentUser.id %>">Your account</a></div>
                  <div class="item logout"><a href="/listings/new">New Listing</a></div>
                  <div class="item logout">Log Out</div>
                </div>
              </div>
            </div>
          </li>
          <% } %>
        </ul>
      </div>
      <div class="logoContainer">
        <a href="/"><h1><span>Enki</span>&nbsp;<img src="../img/house.svg" height='35px' width=35px' style="position: relative; top: 5px;"/>&nbsp;Realty</h1></a>
      </div>
      <div class="navBar">
        <ul id="navBarUl">
          <li><a href="/">Home</a></li>
          <li><a href="/listings">Listings</a></li>
          <li class="contactLink">Contact</li>
        </ul>
      </div>
        <button class="hamburger hamburger--squeeze" type="button">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>
    </nav>
    <% if(error && error.length > 0){ %>
      <div class="ui negative message">
        <div class="header">
          <p>
            <%= error %>

          </p>
        </div>
      </div>
    <% } %>
    <% if(success && success.length > 0) { %>
    <div class="ui positive message centered">
      <div class="header">
        <p>
          <%= success %>
        </p>
      </div>
    </div>
    <% } %>
