<% include ./partials/header %>
<div class="ui modal contactModal">
    <div id="contactFormContainer">
      <form action="#" method="POST" id="contactForm">
        <h4>Need to send us a message?</h4>
        <input type="text" name="name" placeholder="Your Name" required />
        <input type="email" name="email" placeholder="Your Email" required />
        <textarea name="message" placeholder="Your Message" maxlength="250" minlength="4" required></textarea>
        <input type="submit" value="Send" />
      </form>
    </div>
  </div>
<div id="landingContainer">
  <section id="landingHeader">
    <div class="cycle-slideshow"
    data-cycle-slides="> div"
    data-cycle-speed=1500>
    <span class="cycle-overlay"></span>
    <div id="slide_one"
    data-cycle-desc="Enki Realty went above and beyond to get us into the house we wanted! I recommend them to all of my friends and family. -Freddy Ferguson">
    </div>
    <div id="slide_two"
    data-cycle-desc="The folks at Enki Realty truly care about the community they work and live in. I have been using them for over 25 years and will continue to do so. -Ben Kazinsky">
    </div>
    <div id="slide_three"
    data-cycle-desc="I was skeptical at first, but John at Enki Realty went above and beyond my expectations. The professionalism at Enki Reatly is unmatched! -Donna Cheryl">
    </div>
    <div id="slide_four"
    data-cycle-desc="I always hate the home-buying process, but the people at Enky Realty make it all so easy and fast. -Jack Mao">
    </div>
    <div id="slide_five"
    data-cycle-desc="I was very picky with the house I wanted. It had to be a small cottage in the rural countryside. I didn't think anybody would find what I wanted. But Linda at Enki found the perfect home on her first showing! -Gertrude Smith">
    </div>
    <div id="slide_six"
    data-cycle-desc="I can't recomend Enki Realty enough. Their prices are the best, their service is top notch, and they truly care for their customers. -Sienna Faulkner">
    </div>

    </div>
  </section>
  <section id="aboutSection">
    <h1>Why Choose Enki Realty? </h1>
    <hr>
    <div id="aboutSectionInnerContainer">
      <div id="iconSection">
        <div id="iconColOne">
          <i class="fas fa-building"></i>
          <i class="fas fa-place-of-worship"></i>
        </div>
        <div id="iconColTwo">
          <i class="fas fa-hospital-alt"></i>
          <i class="fas fa-home"></i>
        </div>
      </div>
      <div id="aboutDescription">
        <p>Enki Reatly has been serving the Southern California area for the past 25 years. We specialize in in Commercial, Residential,
          Agricultural, and vacant land. Are you looking to move, sell, rent, or even just get an idea of what the market has to offer?
        Then Enki Realty is here to help! We have numerous agents that are familiar with the surrounding cities. Contact us for more information!</p>
      </div>
    </div>
  </section>
  <!-- <div class="line line2"></div> -->
  <section id="serviceSection">
    <h1>What can we help you with?...</h1>
    <hr>
    <div id="serviceContainer">
      <div class="serviceBox">

      </div>
      <div class="serviceBox">

      </div>
      <div class="serviceBox">

      </div>
    </div>
  </section>
</div>
<% include ./partials/footer %>
